body{
	text-align: center;
	background: #b8b0e6;
	font-family: sans-serif;
	font-weight: 100;
}

h1{
	color: #1f1269;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

#timer{
	font-family: sans-serif;
	color: #ffffff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#timer > div{
	padding: 10px;
	background: #50458d;
	border-radius: 5px;
	display: inline-block;
}

#timer div > span{
	padding: 15px;
	background: #271d5d;
	display: inline-block;
	border-radius: 5px;
}

.text{
	padding-top: 5px;
	font-size: 16px;
}